* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -webkit-touch-callout: none; 

}

:root {
  /* Orange */
  --color-orange-primary: #D16A2C;
  --color-orange-secondary: #E07B39;
   /* === Orange Scale === */
  --color-orange-50: #FFF7ED;
  --color-orange-100: #FFEDD5;


  /* Blue */
  --color-blue-primary: #283766;
  --color-blue-secondary: #2E3F73;

  /* Neutral */
  --color-white: #ffffff;
  --color-white-secondary: #F8F8FF;
  --color-text-blue-200: #BFDBFE;

  /* Shadow */
  --color-shadow: #00000014;
  --color-shadow-secondary: #00000040;
  --color-text-secondary: #0000009e;

  /* === Gray Scale === */
  --color-gray-50: #F9FAFB;
  --color-gray-500: #6B7280;
  --color-gray-600: #4B5563;

}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: var(--color-white);
  color: #111;
}

h1 {
  font-size: 1rem;
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 641px) and (max-width: 1024px) {
  :root {
    --container-padding: 6%;
  }
  
  body {
    font-size: 15px;
  }
  
  h1 {
    font-size: 1.1rem;
  }
}

@media (max-width: 640px) {
  :root {
    --container-padding: 5%;
  }
  
  body {
    font-size: 14px;
  }
  
  h1 {
    font-size: 1rem;
  }
  
  .reveal {
    transform: translateY(15px);
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
}