@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -webkit-touch-callout: none; 
}

:root {
  /* Fonts */
  --font-text-title: "Montserrat", sans-serif;
  --font-text-subtitle: "Albert Sans", sans-serif;

  /* Orange */
  --color-orange-primary: #da6418;
  --color-orange-secondary: #E07B39;
  --color-orange-50: #FFF7ED;
  --color-orange-100: #FFEDD5;

  /* Blue */
  --color-blue-primary: #243467;
  --color-blue-secondary: #2E3F73;

  /* Neutral */
  --color-white: #ffffff;
  --color-white-secondary: #F8F8FF;
  --color-text-blue-200: #BFDBFE;

  /* Shadow */
  --color-shadow: #00000014;
  --color-shadow-secondary: #00000040;
  --color-text-secondary: #0000009e;

  /* Gray Scale */
  --color-gray-50: #F9FAFB;
  --color-gray-500: #6B7280;
  --color-gray-600: #4B5563;

  /* Layout */
  --container-padding-desktop: 10%;
  --container-padding-tablet: 6%;
  --container-padding-mobile: 5%;
  --header-height: 72px;
  --header-height-mobile: 60px;
}

body {
  font-family: var(--font-text-subtitle);
  background-color: var(--color-white);
  color: #111;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-text-title);
  font-weight: 600;
}

h1 {
  font-size: 1rem;
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 641px) and (max-width: 1024px) {
  :root {
    --container-pad: 6%;
  }
  
  body {
    font-size: 15px;
  }
  
  h1 {
    font-size: 1.1rem;
  }
}

@media (max-width: 640px) {
  :root {
    --container-pad: 5%;
  }
  
  body {
    font-size: 14px;
  }
  
  h1 {
    font-size: 1rem;
  }
  
  .reveal {
    transform: translateY(15px);
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
}